body{
    margin: 0%;
    background-color: rgb(36, 35, 35);
}
.container{
    background-color: rgb(90, 3, 3);
    padding: 1rem;
    margin-top: 1rem;
    width: fit-content;
    margin: 1rem;
    min-height: 14rem;
    min-width: 4rem;
    border-radius: .5rem;
    box-shadow: 1px 1px 10px 10px rgba(17, 17, 17, 0.596);
}
.onerow{
    margin-left: 5.5rem;
    display: flex;
    align-items: center;
}
.header{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 5px;
    margin-bottom: -10px;
}
.dragable{
    
    color: white;
    background-color: rgb(7, 51, 247);
    cursor: move;
    width: fit-content;
    padding: 1rem;
    border-radius: .5rem;

}
.dragable.dragging{
    opacity: 0.8;
}
.result{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2rem;
    border: .5rem solid rgb(8, 8, 8);
    background-color: darkred;
    font-size: 2rem;
}